[core]
	fileMode = false
	excludesfile = /Users/Francisco_Calle/.gitignore_global
	editor = vim
[alias]
  lol = log --graph --decorate --abbrev-commit --all --pretty=format:'%C(auto)%h%d%Creset %s %Cgreen%ad%Creset by %Cblue%cn%Creset' --date=relative
  changelog = "!_() { t=$(git describe --abbrev=0 --tags); git log ${t}..HEAD --no-merges --pretty=format:'* %s';  }; _"
[user]
	email = francisco.calle.moreno@gmail.com
	name = Francisco Calle Moreno
